shared/workflows/_skeleton.json
{
  "name": "_skeleton",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE_ME",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "is_test",
              "type": "boolean",
              "value": "={{ $json.body.is_test ?? true }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "work",
      "name": "Work",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "// Placeholder work node.\n// Replace with the experiment's actual logic.\n// Vanilla JS only -- no npm imports (n8n Cloud sandbox).\nreturn items;"
      }
    },
    {
      "id": "is-test-router",
      "name": "Is Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_test }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "discord-test",
      "name": "Discord - Test",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [880, -100],
      "parameters": {
        "authentication": "webhook",
        "channelId": "={{ $vars.DISCORD_CHANNEL_TEST }}",
        "content": "={{ $json.message ?? 'Trading-OS test run' }}"
      },
      "credentials": {
        "discordBotApi": {
          "name": "discord_bot"
        }
      }
    },
    {
      "id": "discord-real",
      "name": "Discord - Real",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [880, 100],
      "parameters": {
        "authentication": "webhook",
        "channelId": "={{ $vars.DISCORD_CHANNEL_REAL }}",
        "content": "={{ $json.message ?? 'Trading-OS run' }}"
      },
      "credentials": {
        "discordBotApi": {
          "name": "discord_bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Work", "type": "main", "index": 0 }]]
    },
    "Work": {
      "main": [[{ "node": "Is Test?", "type": "main", "index": 0 }]]
    },
    "Is Test?": {
      "main": [
        [{ "node": "Discord - Test", "type": "main", "index": 0 }],
        [{ "node": "Discord - Real", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID"
  }
}
